@model Core.Course

<h3>Вы действительно хотитет удалить данный материал?</h3>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.Label("Описание")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
        @Html.Label("Раздел")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Section.Description)
    </dd>
    <dt>
        @Html.Label("Ссылка")
    </dt>
    <dd>
        @Html.ActionLink(Model.Link, "Uploads/" + Model.Link, "Content")
    </dd>
</dl>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Список учебных материалов", "Index")
    </div>
}