@model Core.Course

<h2>Материал</h2>
<hr />
<dl class="dl-horizontal">
    <dt class="dark-blue">
        @Html.Label("Описание")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Раздел")
    </dt>
    <dd>
        @Html.ActionLink(Model.Section.Description, "Details", "Sections", new { id = Model.Section.ID }, null)
    </dd>
    <dt>
        @Html.Label("Ссылка на материал")
    </dt>
    <dd>
        @Html.ActionLink("Скачать", "Uploads/" + Model.Link, "Content")
    </dd>
</dl>
<p>
    @Html.ActionLink("Список учебных материалов", "Index")
</p>