@model Core.Course

<h2>Учебный материал</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.Label("Описание")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
        @Html.Label("Раздел")
    </dt>
    <dd>
        @Html.ActionLink(Model.Section.Description, "Details", "Sections", new { id = Model.Section.ID }, null)
    </dd>
    <dt>
        @Html.Label("Ссылка")
    </dt>
    <dd>
        @Html.ActionLink(Model.Link, "Uploads/" + Model.Link, "Content")
    </dd>
</dl>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Список учебных материалов", "Index")
</p>