@model IEnumerable<Core.Course>

<h2>Коллекции материалов</h2>
<table class="table">
    <tr class="light-blue">
        <th>
            @Html.Label("Описание")
        </th>
        <th>
            @Html.Label("Раздел")
        </th>
        <th>
            @Html.Label("Ссылка на материал")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @Html.Raw(item.Section.Description)
            </td>
            <td>
                @Html.ActionLink("Скачать", "Uploads/" + item.Link, "Content")
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })