@model web_application_mvc.Models.LoginViewModel
<div class="row">
    <div class="col-md-7">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] },
                FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h3 class="section-header sign-in-head">Вход</h3>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Электронная почта", htmlAttributes: new { @class = "dark-blue control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Пароль", htmlAttributes: new { @class = "dark-blue control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-5 text-center">
        <h3 class="section-header">Вы в первый раз на нашем сайте?</h3>
        <p>Cоздайте учетную запись, заполнив форму и нажав кнопку ниже</p>
        @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { id = "loginLink" })
    </div>
</div>