@model Core.User

<h3 class="red">Вы действительно хотите удалить данного пользователя?</h3>
<dl class="dl-horizontal">
    <dt class="dark-blue">
        @Html.Label("Фамилия")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Имя")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Отчество")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Midname)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Группа")
    </dt>
    <dd>
        @if (Model.Group != null)
        {
            @Html.ActionLink(Model.Group.Description, "Details", "Groups", new { id = Model.Group.ID }, null)
        }
    </dd>
    <dt class="dark-blue">
        @Html.Label("Роль")
    </dt>
    <dd>
        @if (Model.Role != null)
        {
            @Html.ActionLink(Model.Role.Value, "Details", "Roles", new { id = Model.Role.ID }, null)
        }
    </dd>
    <dt class="dark-blue">
        @Html.Label("Электронная почта")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Пароль")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Password)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Телефон")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Статус")
    </dt>
    <dd>
        @if (Model.Status)
        {
            @Html.Raw("Подтвержден")
        }
        else
        {
            @Html.Raw("Неподтвержден")
        }
    </dd>
    @*<dt class="dark-blue">
        @Html.Label("Ознакомлен с ТБ")
    </dt>
    <dd>
        @if (Model.Safety)
        {
            @Html.Raw("Да")
        }
        else
        {
            @Html.Raw("Нет")
        }
    </dd>*@
    <dt class="dark-blue">
        @Html.Label("Куратор")
    </dt>
    <dd>
        @if (Model.CurrentCurator != null)
        {
            @Html.ActionLink(Model.CurrentCurator.User.Surname, "Details", "Users", new { id = Model.CurrentCurator.User.ID }, null)
        }
    </dd>
</dl>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Список пользователей", "Index")
    </div>
}