@model IEnumerable<Core.User>

<h2>Пользователи</h2>
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Фамилия")
        </th>
        <th>
            @Html.Label("Имя")
        </th>
        <th>
            @Html.Label("Отчество")
        </th>
        <th>
            @Html.Label("Группа")
        </th>
        <th>
            @Html.Label("Роль")
        </th>
        <th>
            @Html.Label("Электронная почта")
        </th>
        <th>
            @Html.Label("Пароль")
        </th>
        <th>
            @Html.Label("Телефон")
        </th>
        <th>
            @Html.Label("Статус")
        </th>
        <th>
            @Html.Label("Куратор")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Surname, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink(item.Midname, "Details", new { id = item.ID })
        </td>
        <td>
            @if (item.Group != null)
            {
                @Html.ActionLink(item.Group.Description, "Details", "Groups", new { id = item.Group.ID }, null)
            }
        </td>
        <td>
            @if (item.Role != null)
            {
                @Html.ActionLink(item.Role.Value, "Details", "Roles", new { id = item.Role.ID }, null)
            }
        </td>
        <td>
            @Html.ActionLink(item.Email, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink(item.Password, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink(item.Phone, "Details", new { id = item.ID })
        </td>
        <td>
            @if (item.Status)
            {
                @Html.ActionLink("Активирован", "Details", new { id = item.ID })
            }
            else
            {
                @Html.ActionLink("Деактивирован", "Details", new { id = item.ID })
            }
        </td>
        <td>
            @if (item.CurrentCurator != null)
            {
                @Html.ActionLink(item.CurrentCurator.User.Surname, "Details", "Users", new { id = item.CurrentCurator.ID }, null)
            }
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}
</table>