@model Core.Curator

<h3 class="red" style="margin-bottom: 20px">Вы действительно хотите удалить данного куратора?</h3>
<dl class="dl-horizontal">
    <dt class="dark-blue">
        @Html.Label("ФИО куратора")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Surname, "Details", "Users", new { id = Model.User.ID }, null)
        @Html.ActionLink(Model.User.Name, "Details", "Users", new { id = Model.User.ID }, null)
        @Html.ActionLink(Model.User.Midname, "Details", "Users", new { id = Model.User.ID }, null)
    </dd>
</dl>
@if (Model.Students != null && Model.Students.Count > 0)
{
    <h2 class="dark-blue roboto">Студенты</h2>
    <table class="table">
        <tr class="light-blue">
            <th>
                @Html.Label("ФИО")
            </th>
            <th>
                @Html.Label("Группа")
            </th>
        </tr>
        @foreach (Core.User item in Model.Students)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Surname, "Details", "Users", new { id = item.ID }, new { })
                    @Html.ActionLink(item.Name, "Details", "Users", new { id = item.ID }, new { })
                    @Html.ActionLink(item.Midname, "Details", "Users", new { id = item.ID }, new { })
                </td>
                <td>
                    @Html.ActionLink(item.Group.Description, "Details", "Groups", new { id = item.ID }, new { })
                </td>
            </tr>
        }
    </table>
    <hr />
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Список кураторов", "Index")
    </div>
}