@model Core.Curator

<h2 class="red">Куратор</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.Label("ФИО куратора")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Surname, "Details", "Users", new { id = Model.User.ID }, null)
        @Html.ActionLink(Model.User.Name, "Details", "Users", new { id = Model.User.ID }, null)
        @Html.ActionLink(Model.User.Midname, "Details", "Users", new { id = Model.User.ID }, null)
    </dd>
</dl>
@if (Model.Students != null && Model.Students.Count > 0)
{
    <h2 class="dark-blue roboto">Студенты</h2>
    <table class="table">
        <tr class="light-blue">
            <th>
                @Html.Label("ФИО")
            </th>
            <th>
                @Html.Label("Группа")
            </th>
        </tr>
        @foreach (Core.User item in Model.Students)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Surname, "Details", "Users", new { id = item.ID }, new { })
                    @Html.ActionLink(item.Name, "Details", "Users", new { id = item.ID }, new { })
                    @Html.ActionLink(item.Midname, "Details", "Users", new { id = item.ID }, new { })
                </td>
                <td>
                    @Html.ActionLink(item.Group.Description, "Details", "Groups", new { id = item.ID }, new { })
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }, new { @class = "btn btn-default"}) |
    @Html.ActionLink("Список кураторов", "Index")
</p>