@model Core.Report

<h3 class="red">Вы действительно хотите удалить данный отчет?</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.Label("Фамилия")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Surname, "Details", "Users", new { id = Model.User.ID }, new { })
    </dd>
    <dt>
        @Html.Label("Имя")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Name, "Details", "Users", new { id = Model.User.ID }, new { })
    </dd>
    <dt>
        @Html.Label("Отчество")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Midname, "Details", "Users", new { id = Model.User.ID }, new { })
    </dd>
    <dt>
        @Html.Label("Группа")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Group.Description, "Details", "Groups", new { id = Model.User.Group.ID }, new { })
    </dd>
    <dt>
        @Html.Label("Ссылка")
    </dt>
    <dd>
        @Html.ActionLink(Model.Link, "Uploads/" + Model.Link, "Content")
    </dd>
</dl>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Список отчетов", "Index")
    </div>
}