@model Core.Grade

<h2 class="red">Оценка</h2>
<hr />
<dl class="dl-horizontal">
    <dt class="dark-blue">
        @Html.Label("Название теста")
    </dt>
    <dd>
        @Html.ActionLink(Model.Test.Title, "Details", "Tests", new { id = Model.Test.ID }, null)
    </dd>
    <dt class="dark-blue">
        @Html.Label("ФИО студента")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Surname, "Details", "Users", new { id = Model.User.ID }, null)
        @Html.ActionLink(Model.User.Name, "Details", "Users", new { id = Model.User.ID }, null)
        @Html.ActionLink(Model.User.Midname, "Details", "Users", new { id = Model.User.ID }, null)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Группа студента")
    </dt>
    <dd>
        @Html.ActionLink(Model.User.Group.Description, "Details", "Groups", new { id = Model.User.Group.ID }, null)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Оценка за тест")
    </dt>
    <dd>
        @if (Model.Value > 0.85)
        {
            @Html.ActionLink("Отлично", "Details", "Tests", new { id = Model.Test.ID }, null)
        }
        else
        {
            if (Model.Value <= 0.85 && Model.Value > 0.7)
            {
                @Html.ActionLink("Хорошо", "Details", "Tests", new { id = Model.Test.ID }, null)
            }
            else
            {
                if (Model.Value <= 0.7 && Model.Value > 0.4)
                {
                    @Html.ActionLink("Удовлетворительно", "Details", "Tests", new { id = Model.Test.ID }, null)
                }
                else
                {
                    @Html.ActionLink("Неудовлетворительно", "Details", "Tests", new { id = Model.Test.ID }, null)
                }
            }
        }
    </dd>
</dl>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }, new { @class = "btn btn-default"}) |
    @Html.ActionLink("Список оценок", "Index")
</p>
