@model IEnumerable<Core.Grade>

<h2 class="red">Оценки</h2>

<table class="table">
    <tr class="light-blue">
        <th>
            @Html.Label("Название теста")
        </th>
        <th>
            @Html.Label("ФИО студента")
        </th>
        <th>
            @Html.Label("Оценка за тест")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Test.Title, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink(item.User.Surname, "Details", new { id = item.ID })
                @Html.ActionLink(item.User.Name, "Details", new { id = item.ID })
                @Html.ActionLink(item.User.Midname, "Details", new { id = item.ID })
            </td>
            <td>
                @if (item.Value > 0.85)
                {
                    @Html.ActionLink("Отлично", "Details", new { id = item.ID })
                }
                else
                {
                    if (item.Value <= 0.85 && item.Value > 0.7)
                    {
                        @Html.ActionLink("Хорошо", "Details", new { id = item.ID })
                    }
                    else
                    {
                        if (item.Value <= 0.7 && item.Value > 0.4)
                        {
                            @Html.ActionLink("Удовлетворительно", "Details", new { id = item.ID })
                        }
                        else
                        {
                            @Html.ActionLink("Неудовлетворительно", "Details", new { id = item.ID })
                        }
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })