<hr />
<h1>Панель администратора</h1>
<ul>
    <li>@Html.ActionLink("Тесты", "Index", "Tests")</li>
    <li>@Html.ActionLink("Вопросы", "Index", "Questions")</li>
    <li>@Html.ActionLink("Ответы", "Index", "Answers")</li>

    <li>@Html.ActionLink("Решенные задания", "Index", "Feedback")</li>
    <li>@Html.ActionLink("Задания", "Index", "Tasks")</li>

    <li>@Html.ActionLink("Разделы", "Index", "Sections")</li>
    <li>@Html.ActionLink("Типы вопроса", "Index", "Types")</li>
    <li>@Html.ActionLink("Учебные материалы", "Index", "Courses")</li>
    <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
    <li>@Html.ActionLink("Оценки", "Index", "Grades")</li>
    <li>@Html.ActionLink("Посещения", "Index", "Activities")</li>
    <li>@Html.ActionLink("Группы", "Index", "Groups")</li>
    <li>@Html.ActionLink("Кураторы", "Index", "Curators")</li>
    <li>@Html.ActionLink("Пользователи", "Index", "Users")</li>
    <li>@Html.ActionLink("Отчеты по практики студентов", "Index", "Reports")</li>
    <li>@Html.ActionLink("Шаблоны для отчета", "Index", "Templates")</li>
</ul>