<ul>
    <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
    <li>@Html.ActionLink("Answers", "Index", "Answers")</li>
    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
    <li>@Html.ActionLink("Curators", "Index", "Curators")</li>
    <li>@Html.ActionLink("Grades", "Index", "Grades")</li>
    <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
    <li>@Html.ActionLink("Questions", "Index", "Questions")</li>
    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
    <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
    <li>@Html.ActionLink("Sections", "Index", "Sections")</li>
    <li>@Html.ActionLink("Templates", "Index", "Templates")</li>
    <li>@Html.ActionLink("Tests", "Index", "Tests")</li>
    <li>@Html.ActionLink("Types", "Index", "Types")</li>
    <li>@Html.ActionLink("Users", "Index", "Users")</li>
</ul>