@model web_application_mvc.Models.GradeActivityViewModel

@if (Model.Grades != null && Model.Grades.Count() > 0)
{
    <hr />
    <h2>Оценки</h2>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Название теста")
            </th>
            <th>
                @Html.Label("Раздел")
            </th>
            <th>
                @Html.Label("Оценка")
            </th>
        </tr>
        @foreach (Core.Grade item in Model.Grades)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Test.Title, "Details", "Tests", new { id = item.Test.ID }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Test.Section.Description, "Details", "Tests", new { id = item.Test.ID }, null)
                </td>
                <td>
                    @if (item.Value > 0.85)
                    {
                        @Html.ActionLink("Отлично", "Details", "Tests", new { id = item.Test.ID }, null)
                    }
                    else
                    {
                        if (item.Value <= 0.85 && item.Value > 0.7)
                        {
                            @Html.ActionLink("Хорошо", "Details", "Tests", new { id = item.Test.ID }, null)
                        }
                        else
                        {
                            if (item.Value <= 0.7 && item.Value > 0.4)
                            {
                                @Html.ActionLink("Удовлетворительно", "Details", "Tests", new { id = item.Test.ID }, null)
                            }
                            else
                            {
                                @Html.ActionLink("Неудовлетворительно", "Details", "Tests", new { id = item.Test.ID }, null)
                            }
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
@if (Model.Activities != null && Model.Activities.Count() > 0)
{
    <hr />
    <h2>Посещения</h2>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Отметка")
            </th>
        </tr>
        @foreach (Core.Activity item in Model.Activities)
        {
            <tr>
                <td>
                    @Html.Raw(item.Date)
                </td>
            </tr>
        }
    </table>
}
