@model Core.User

<h1>Профиль</h1>
<div class="form-group">
    @Html.Label("Фамилия", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="form-group">
    @Html.Label("Имя", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="form-group">
    @Html.Label("Отчество", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor(model => model.Midname, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="form-group">
    @Html.Label("Электронная почта", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
</div>
<div class="form-group">
    @Html.Label("Телефон", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
</div>
@Html.ActionLink("Редактировать", "Edit", routeValues: null, htmlAttributes: new { @class = "btn btn-light" })

@if (User.Identity.IsAuthenticated && (User.IsInRole("Студент")))
{
    @Html.Action("Student")
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("Администратор")))
{
    @Html.Action("Admin")
}