@model IEnumerable<Core.Activity>

<h2 class="red">Посещения</h2>
<table class="table">
    <tr class="light-blue">
        <th>
            @Html.Label("ФИО студента")
        </th>
        <th>
            @Html.Label("Дата")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.User.Surname, "Details", "Users", new { id = item.User.ID }, null)
                @Html.ActionLink(item.User.Name, "Details", "Users", new { id = item.User.ID }, null)
                @Html.ActionLink(item.User.Midname, "Details", "Users", new { id = item.User.ID }, null)
            </td>
            <td>
                @Html.ActionLink(item.Date.ToShortDateString(), "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })