@model web_application_mvc.Models.TypeViewModel

<h2 class="red">Тип вопроса</h2>
<hr />
<dl class="dl-horizontal">
    <dt class="dark-blue">
        @Html.Label("Название")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Type.Status)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Описание")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Type.Description)
    </dd>
</dl>
@if (Model.Questions != null && Model.Questions.Count() > 0)
{
    <h3 class="red">Вопросы</h3>
    <table class="table">
        <tr class="light-blue">
            <th>
                @Html.Label("Вопрос")
            </th>
            <th>
                @Html.Label("Ответ")
            </th>
        </tr>
        @foreach (Core.Question item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    @foreach (Core.Answer answer in item.Answers)
                    {
                        if (answer.Correct)
                        {
                            @Html.Raw(answer.Desctiption)
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
<hr />
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Type.ID }, new { @class = "btn btn-default"}) |
    @Html.ActionLink("Список типов вопроса", "Index")
</p>
