@model web_application_mvc.Models.TestViewModel

<h2 class="red" style="margin-bottom: 20px">Вы действительно хотите удалить данный тест?</h2>
<dl class="dl-horizontal">
    <dt class="dark-blue">
        @Html.Label("Название")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Test.Title)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Описание")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Test.Description)
    </dd>
    <dt class="dark-blue">
        @Html.Label("Раздел")
    </dt>
    <dd>
        @Html.ActionLink(Model.Test.Section.Description, "Details", "Sections", new { id = Model.Test.Section.ID }, null)
    </dd>
</dl>
@if (Model.Questions != null && Model.Questions.Count() > 0)
{
    <table class="table">
        <tr class="light-blue">
            <th>
                @Html.Label("Вопрос")
            </th>
            <th>
                @Html.Label("Тип вопроса")
            </th>
            <th>
                @Html.Label("Ответ")
            </th>
        </tr>
        @foreach (Core.Question item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    @Html.Raw(item.Type.Status)
                </td>
                <td>
                    @foreach (Core.Answer answer in item.Answers)
                    {
                        if (answer.Correct)
                        {
                            @Html.Raw(answer.Desctiption)
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Список тестов", "Index")
    </div>
}