@model Core.Answer

<dl class="dl-horizontal">
    <dt>
        @Html.Label("Вопрос")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Question.Description)
    </dd>

    <dt>
        @Html.Label("Название")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Desctiption)
    </dd>

    <dt>
        @Html.Label("Правильный ответ")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Correct)
    </dd>

</dl>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Список ответов", "Index")
</p>
