@model IEnumerable<Core.Answer>

@{
    ViewBag.Title = "Index";
}

<h2 class="red">Ответы</h2>

<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr class="light-blue">
        <th>
            @Html.Label("Вопрос")
        </th>
        <th>
            @Html.Label("Название")
        </th>
        <th>
            @Html.Label("Правильный ответ")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desctiption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correct)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
