@model web_application_mvc.Models.SafetyViewModel

<h2 style="text-align: center;">Техника безопасности</h2>
<p style="text-align: center;"><br /><strong>ИНСТРУКЦИЯ</strong></p>
<p style="text-align: center;"><strong>по охране труда для студентов, проходящих практику</strong></p>
<p>&nbsp;<br /><strong>1.Общие требования охраны труда</strong></p>
<p>1.1.Настоящая Инструкция определяет требования охраны труда для студентов академии, направленных для прохождения практики.</p>
<p>1.2.Студенты, вышедшие на практику, допускаются к выполнению работы только при наличии установленного набора документов(договор, дневник, индивидуальное задание и т.п.) и только после прохождения вводного инструктажа по охране труда, инструктажа по охране труда на рабочем месте, а также повторения приемов оказания первой доврачебной помощи пострадавшим от несчастных случаев(при получения травмы в период практики).</p>
<p>1.3.Каждый инструктаж студентов, выходящих на практику, должен заканчиваться обязательной проверкой его усвоения.Первичный инструктаж проводится руководителями практики, последующие &mdash; руководителями практики по месту ее прохождения.</p>
<p>1.4.Проведение всех видов инструктажей должно регистрироваться в журналах регистрации инструктажей с обязательными подписями получившего и проводившего инструктаж.</p>
<p>1.5.Каждому студенту, выходящему на практику, необходимо:</p>
<p>&bull; знать место хранения медицинской аптечки;</p>
<p>&bull; уметь оказать первую помощь при производственных травмах;</p>
<p>&bull; уметь правильно действовать при возникновении пожара и в других экстремальных и других чрезвычайных ситуациях;</p>
<p>&bull; изучить планы эвакуации и расположение эвакуационных выходов.</p>
<p>1.6.Студенту, проходящему практику, следует:</p>
<p>-оставлять верхнюю одежду, обувь, головной убор в гардеробной или иных местах, предназначенных для хранения верхней одежды;</p>
<p>-иметь опрятный вид в соответствии с требованиями делового этикета;</p>
<p>-не принимать пищу на рабочем месте.</p>
<p>&nbsp;</p>
<p><strong>Опасные и вредные производственные факторы.</strong></p>
<p>1.7.Работа студентов при прохождении практики может сопровождаться наличием следующих опасных и вредных производственных факторов:</p>
<p>-работа на персональных компьютерах &mdash; ограниченной двигательной активностью, монотонностью и значительным зрительным напряжением;</p>
<p>-работа с электроприборами(приборы освещения, бытовая техника, принтер, сканер и прочие виды офисной техники) &mdash; повышенным значением напряжения электрической цепи;</p>
<p>-работа вне организации(по пути к месту практики и обратно) &mdash; движущимися машинами(автомобили и прочие виды транспорта), неудовлетворительным состоянием дорожного покрытия(гололед, неровности дороги и пр.).</p>
<p>&nbsp;</p>
<p><strong>Требования к рабочим помещениям и оборудованию рабочих мест.</strong></p>
<p>1.8.Помещения, предназначенные для размещения рабочих мест, оснащенных персональными компьютерами, следует оснащать солнцезащитными устройствами(жалюзи, шторы и пр.).</p>
<p>1.9.Все помещения с персональными компьютерами должны иметь естественное и искусственное освещение.</p>
<p>1.10.Запрещается применение открытых ламп(без арматуры) в установках общего и местного освещения.</p>
<p>1.11.Искусственное освещение на рабочих местах в помещениях с персональными компьютерами следует осуществлять в виде комбинированной системы общего и местного освещения.</p>
<p>1.12.Местное освещение обеспечивается светильниками, установленными непосредственно на столешнице.</p>
<p>1.13.Для борьбы с запыленностью воздуха необходимо проводить влажную ежедневную уборку и регулярное проветривание помещения.</p>
<p>1.14.Рабочее место должно включать: рабочий стол, стул (кресло) с регулируемой высотой сиденья.</p>
<p>&nbsp;</p>
<p><strong>Ответственность студентов, проходящих практику.</strong></p>
<p>1.15.Студенты, проходящие практику, несут ответственность в соответствии с действующим законодательством за соблюдение требований Инструкции, производственный травматизм и аварии, которые произошли по их вине в связи с выполняемой ими работой.</p>
<p>&nbsp;<br /><strong>2.Требования охраны труда перед началом работы</strong></p>
<p>2.1.Прибыть на работу заблаговременно для исключения спешки и, как следствие, падения и случаев травматизма, при этом:</p>
<p>&bull; не подниматься и не спускаться бегом по лестничным маршам;</p>
<p>&bull; не садиться и не облокачиваться на ограждения и случайные предметы;</p>
<p>&bull; обращать внимание на знаки безопасности, сигналы и выполнять их требования;</p>
<p>&bull; запрещается приступать к работе в состоянии алкогольного или наркотического опьянения.</p>
<p>2.2.Осмотреть рабочее место и оборудование. Проверить оснащенность рабочего места необходимым для работы оборудованием, инвентарем, приспособлениями и инструментами. Убрать все лишние предметы.</p>
<p>2.3.Очистить экран дисплея персонального компьютера от пыли. Отрегулировать высоту и угол наклона экрана.</p>
<p>2.4.Отрегулировать уровень освещенности рабочего места.</p>
<p>2.5.Отрегулировать кресло по высоте.Проверить исправность оборудования.</p>
<p>2.6.О замеченных недостатках и неисправностях немедленно сообщить руководителю практики и до устранения неполадок и разрешения руководителя к работе не приступать.</p>
<p>&nbsp;<br /><strong>3.Требования охраны труда во время работы</strong></p>
<p>На рабочих местах, оснащенных персональными компьютерами:</p>
<p>3.1.Экран должен находиться ниже уровня глаз на 5 град, и располагаться в прямой плоскости или с наклоном на оператора(15 град.).</p>
<p>3.2.Расстояние от глаз оператора до экрана должно быть в пределах 60 &mdash; 80 см.</p>
<p>3.3.Местный источник света по отношению к рабочему месту должен располагаться таким образом, чтобы исключить попадание в глаза прямого света, и должен обеспечивать равномерную освещенность на поверхности 40 х 40 см, не создавать слепящих бликов на клавиатуре и других частях пульта, а также на экране видеотерминала в направлении глаз работника.</p>
<p>3.4.Для снижения зрительного и общего утомления после каждого часа работы делать перерыв</p>
<p>3.5.Необходимо в течение всего рабочего дня содержать в порядке и чистоте рабочее место. В течение рабочей смены экран дисплея должен быть не менее одного раза очищен от пыли.Своевременно убирать с пола рассыпанные материалы, принадлежности, продукты, разлитую воду и пр.</p>
<p>3.6.Во время работы запрещается:</p>
<p>&bull; прикасаться к задней панели системного блока(процессора) при включенном питании;</p>
<p>&bull; производить переключение разъемов интерфейсных кабелей периферийных устройств при включенном питании;</p>
<p>&bull; загромождать верхние панели устройств бумагами и посторонними предметами;</p>
<p>&bull; допускать захламленность рабочего места;</p>
<p>&bull; производить отключение питания во время выполнения активной задачи;</p>
<p>&bull; допускать попадание влаги на поверхность системного блока(процессора), монитора, рабочую поверхность клавиатуры, дисководов, принтеров и др.устройств;</p>
<p>&bull; включать охлажденное(принесенное с улицы в зимнее время) оборудование;</p>
<p>&bull; производить самостоятельно вскрытие и ремонт оборудования.</p>
<p>3.7.При работе с электроприборами и оргтехникой(персональные компьютеры, принтеры, сканеры, копировальные аппараты, факсы, бытовые электроприборы, приборы освещения):</p>
<p>3.8.Автоматические выключатели и электрические предохранители должны быть всегда исправны.</p>
<p>3.9.Изоляция электропроводки, электроприборов, выключателей, штепсельных розеток, ламповых патронов и светильников, а также шнуров, с помощью которых включаются в электросеть электроприборы, должны быть в исправном состоянии.</p>
<p>3.10.Электроприборы необходимо хранить в сухом месте, избегать резких колебаний температуры, вибрации, сотрясений.</p>
<p>3.11.Для подогрева воды пользоваться сертифицированными электроприборами с закрытой спиралью и устройством автоматического отключения, с применением несгораемых подставок.</p>
<p>3.12.Запрещается:</p>
<p>&bull; пользоваться неисправными электроприборами и электропроводкой;</p>
<p>&bull; очищать от загрязнения и пыли включенные осветительные аппараты и электрические лампы;</p>
<p>&bull; ремонтировать электроприборы самостоятельно;</p>
<p>&bull; подвешивать электропровода на гвоздях, металлических и деревянных предметах, перекручивать провод, закладывать провод и шнуры на водопроводные трубы и батареи отопления, вешать что-либо на провода, вытягивать за шнур вилку из розетки;</p>
<p>&bull; прикасаться одновременно к персональному компьютеру и к устройствам, имеющим соединение с землей(радиаторы отопления, водопроводные краны, трубы и т.п.), а также прикасаться к электрическим проводам, неизолированным и неогражденным токоведущим частям электрических устройств, аппаратов и приборов(розеток, патронов, переключателей, предохранителей);</p>
<p>&bull; применять на открытом воздухе бытовые электроприборы и переносные светильники, предназначенные для работы в помещениях;</p>
<p>&bull; пользоваться самодельными электронагревательными приборами и электроприборами с открытой спиралью;</p>
<p>&bull; наступать на переносимые электрические провода, лежащие на полу.</p>
<p>3.13.При перерыве в подаче электроэнергии и уходе с рабочего места выключать оборудование.</p>
<p>3.14.По пути к месту практики и обратно:</p>
<p>3.15.Избегать экстремальных ситуаций на пути следования.</p>
<p>3.16.Соблюдать правила дорожного движения и правила поведения в транспортных средствах.</p>
<p>3.17.Соблюдать осторожность при обходе транспортных средств и других препятствий, ограничивающих видимость проезжей части.</p>
<p>3.18.В период неблагоприятных погодных условий(гололед, снегопад, туман) соблюдать особую осторожность.</p>
<p>&nbsp;<br /><strong>4.Требования охраны труда в аварийных ситуациях</strong></p>
<p>4.1.Немедленно прекратить работу, отключить персональный компьютер, иное электрооборудование и доложить руководителю работ, если:</p>
<p>&bull; обнаружены механические повреждения и иные дефекты электрооборудования и электропроводки;</p>
<p>&bull; наблюдается повышенный уровень шума при работе оборудования;</p>
<p>&bull; наблюдается повышенное тепловыделение от оборудования;</p>
<p>&bull; мерцание экрана не прекращается;</p>
<p>&bull; наблюдается прыганье текста на экране;</p>
<p>&bull; чувствуется запах гари и дыма;</p>
<p>&bull; прекращена подача электроэнергии.</p>
<p>4.2.Не приступать к работе до полного устранения неисправностей.</p>
<p>4.3.В случае пожара работники(в том числе и студенты, проходящие практику) должны немедленно прекратить работу, отключить электроприборы, закрыть окна, двери, вызвать пожарную команду, сообщить руководителю работ и покинуть помещение согласно плану эвакуации, применяя подручные средства индивидуальной защиты(платок, шарф и т.п., смоченные водой).</p>
<p>4.4.При обнаружении запаха газа в помещении:</p>
<p>-предупредить работников, находящихся в помещении, о недопустимости пользования открытым огнем, курения, включения и выключения электрического освещения и электроприборов;</p>
<p>-открыть окна(форточки, фрамуги) и проветрить помещение;</p>
<p>-сообщить об этом администрации организации, а при необходимости &mdash; вызвать работников аварийной газовой службы.</p>
<p>4.5.При травме в первую очередь освободить пострадавшего от травмирующего фактора, оказать первую доврачебную помощь, поставить в известность руководителя работ, вызвать скорую помощь, и, по возможности, сохранить неизменной ситуацию до начала расследования причин несчастного случая.</p>
<p>&nbsp;<br /><strong>5.Требования охраны труда по окончании работы</strong></p>
<p>5.1.Привести в порядок рабочее место. Для уборки мусора и отходов использовать щетки, совки и другие приспособления.</p>
<p>5.2.Отключить и обесточить оборудование.</p>
<p>5.3.Тщательно вымыть руки с мылом.</p>
<p>При выходе из здания студент обязан:</p>
<p>&bull; убедиться в отсутствии движущегося транспорта;</p>
<p>&bull; ходить по тротуарам и пешеходным дорожкам.</p>
@if (Model != null && !Model.Status)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.CheckBoxFor(model => model.Status)
                    @Html.LabelFor(x => x.Status)
                    @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Далее" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}