@model IEnumerable<Core.Template>

<h2>Шаблоны</h2>
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Описание")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}
</table>