@model Core.Group

<h2>Группа</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.Label("Университет")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.University)
    </dd>
    <dt>
        @Html.Label("Факультет")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Department)
    </dd>
    <dt>
        @Html.Label("Группа")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
        @Html.Label("Начало практики")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Start)
    </dd>
    <dt>
        @Html.Label("Окончание практики")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.End)
    </dd>
</dl>

@if (Model.Students != null && Model.Students.Count > 0)
{
    <h2>Студенты</h2>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Фамилия")
            </th>
            <th>
                @Html.Label("Имя")
            </th>
            <th>
                @Html.Label("Отчество")
            </th>
        </tr>
        @foreach (Core.User item in Model.Students)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Surname, "Details", "Users", new { id = item.ID }, new { })
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Users", new { id = item.ID }, new { })
                </td>
                <td>
                    @Html.ActionLink(item.Midname, "Details", "Users", new { id = item.ID }, new { })
                </td>
            </tr>
        }
    </table>
    <hr />
}
@if (ViewBag.Sections != null && ViewBag.Sections.Count > 0)
{
    <h2>Разделы</h2>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Название")
            </th>
        </tr>
        @foreach (Core.Section item in ViewBag.Sections)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Description, "Details", "Sections", new { id = item.ID }, new { })
                </td>
            </tr>
        }
    </table>
    <hr />
}
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Список групп", "Index")
</p>
