@model IEnumerable<Core.Group>

<h2 class="red">Группы</h2>
<p>

</p>
<table class="table">
    <tr class="light-blue">
        <th>
            @Html.Label("Университет")
        </th>
        <th>
            @Html.Label("Факультет")
        </th>
        <th>
            @Html.Label("Группа")
        </th>
        <th>
            @Html.Label("Начало практики")
        </th>
        <th>
            @Html.Label("Окончание практики")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.University, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink(item.Department, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink(item.Description, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink(item.Start.ToShortDateString(), "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink(item.End.ToShortDateString(), "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default"})