@model IEnumerable<Core.Section>
<h2 class="red">Разделы</h2>
<table class="table">
    <tr class="light-blue">
        <th>
            @Html.Label("Название")
        </th>
        <th>
            @Html.Label("Действия")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Description, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-default" })