@model Core.Question

<h3 class="red">Вы действительно хотите удалить данный вопрос?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="dark-blue">
            @Html.Label("Название")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="dark-blue">
            @Html.Label("Тест")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.Title)
        </dd>
        <dt class="dark-blue">
            @Html.Label("Тип")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Список вопросов", "Index")
        </div>
    }
</div>
