@model Core.Question
    <h4>Вопрос</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Description)
        </dd>

        <dt>
            @Html.Label("Тест")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
            @Html.Label("Тип")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Список вопросов", "Index")
</p>
