<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Призма - обучающая система</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Призма", "Index", "Home", new { area = "" }, new { @class = "navbar-brand layout-font" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Студент")))
                    {
                        <li>@Html.ActionLink("Тесты", "Index", "Test")</li>
                        <li>@Html.ActionLink("Задания", "Task", "Test")</li>
                        <li>@Html.ActionLink("Материалы", "Index", "Course")</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Администратор")))
                    {
                        <li>@Html.ActionLink("Статистика", "Index", "Statistics")</li>
                        <li>@Html.ActionLink("Отчеты", "Index", "Reports")</li>
                        <li>@Html.ActionLink("Тесты", "Index", "Tests")</li>
                        <li>@Html.ActionLink("Группы", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Кураторы", "Index", "Curators")</li>
                        <li>@Html.ActionLink("Пользователи", "Index", "Users")</li>
                        <li>@Html.ActionLink("Оценки", "Index", "Grades")</li>
                        <li>@Html.ActionLink("Посещения", "Index", "Activities")</li>
                        <li>@Html.ActionLink("Материалы", "Index", "Courses")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Профиль", "Index", "Profile")</li>
                    }
                    <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content body-margin">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-text">
                &copy; @DateTime.Now.Year
                @Html.ActionLink("Техника безопасности", "Safety", "Home")
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("MyScritps", required: false)
</body>
</html>
